data/
HotelBooking_Course_release_v1/

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.idx
*.ind
*.ilg
*.glo
*.gls
*.acn
*.acr
*.alg
*.xdy
*.dvi
*.ps
*.tex

# LaTeX generated source files (not the main report)
*.bbl
*.blg